/**
common
 */
a:hover {
    text-decoration: none;
}
a {
    color: rgb(3, 169, 245);
}
body {
    background-color: rgb(239, 243, 246);
}
/**
头部
 */
header {
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ececec;
    margin-bottom: 20px;
    line-height: 44px;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    position: relative;
}
.site-logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    vertical-align: middle;
    transition: all 0.5s;
    cursor: pointer;
}
.site-logo:hover {
    transform: rotate(360deg);
}
.site-name {
    margin-left: 5px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}
.bi.bi-search {
    cursor: pointer;
}
.bi.bi-search:hover {
    color: cornflowerblue;
}
.mobile-nav {
    position: absolute;
    right: 1.5rem;
}
.mobile-nav button:hover {
    box-shadow: none;
}
@media (min-width: 768px) {
    #mobile-nav {
        display: block!important;
    }
    .search-area {
        right: 50px!important;
    }
}
@media (min-width: 1200px) {
    .search-area {
        right: 20rem!important;
    }
}
.search-area {
    position: absolute;
    right: 5rem;
}
/**
重写modal
 */
.modal-header {
    border-bottom: none;
}
.modal-footer {
    border-top: none;
}

.modal-header .close {
    background: #FC4349;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 200;
    font-size: 18px;
    opacity: 1;
    outline: none;
}
.modal-header .close:hover {
    background: #002635;
}
/**
导航
 */
.nav-link {
    text-align: center;
    height: 40px;
    color: #000;
    margin-bottom: 24px;
    padding: 0;
}
.nav-link.active {
    color: rgb(29,161,242);
}
.nav-item:hover {
    background-color: #1da1f21a;
    color: #1da1f2;
    border-radius: 25px;
}
.last-nav-item {
    background-color: rgb(27, 157, 231);
    border-radius: 25px;
    color: #fff;
    margin-top: 20px;
}
.last-nav-item:hover {
    background-color: rgb(8, 79, 117);
}
.nav-icon {
    max-width: 24px;
    max-height: 24px;
}
.nav-item-text {
    display: inline-block;
    padding: 10px;
    font-size: 19px;
    vertical-align: middle;
    font-weight: 700;
}
/**
文章列表
 */
.list {
}
.post-article {
    box-sizing: border-box;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    align-items: flex-start;
    flex-direction: row;
    display: flex;
    cursor: pointer;

    padding: 24px;
    border-radius: 12px;
    transition: all 0.2s ease 0s;
    margin-bottom: 12px;
}
.post-article-left{
    box-sizing: border-box;
    min-width: 0px;
    padding-right: 12px;
    display: flex;
    margin: 0px;
    flex: 0 0 auto;
}
.post-article-left img{
    border-radius: 999px;
    width: 40px;
    height: 40px;

}
.post-article-right{
    box-sizing: border-box;
    min-width: 0px;
    flex-direction: column;
    display: flex;
    margin: 0px;
    flex: 1 1 auto;
    animation: 0.3s ease 0s 1 normal none running show;
}
.post-article:hover {
    background-color: rgb(248, 250, 251);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px, rgba(157, 182, 200, 0.1) 0px 1px 20px;
}
.post-title {
    font-weight: 600;
    line-height: 1.6;
    color: #1a1a1a;
    margin-top: -4px;
    margin-bottom: -4px;
    text-decoration: none;
}
.post-title:hover {
    text-decoration: none;
}
.post-author {
    box-sizing: border-box;
    min-width: 0px;
    line-height: 1;
    flex-direction: column;
    font-size: 14px;
    display: flex;
    margin: 0px;
}
.author-name {
    box-sizing: border-box;
    min-width: 0px;
    padding-top: 4px;
    padding-bottom: 6px;
    display: flex;
    margin: 0px;
}
.author-name a {
    box-sizing: border-box;
    min-width: 0px;
    color: rgb(64, 64, 64);
    cursor: pointer;
    font-weight: 600;
    margin: 0px;
    text-decoration: none;
}
.post-author img {
    border-radius: 50%;
}
.post-author a {
    color: #000;
    text-decoration: none;
    margin-left: .1rem;
}
.post-time {
    word-break: keep-all;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 0px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgb(191, 191, 191);
    margin: 0px;
}
.post-time a:hover {
    text-decoration: underline;
}
.post-time a {
    box-sizing: border-box;
    min-width: 0px;
    color: rgb(191, 191, 191);
    margin: 0px;
}
.post-cover-img-container {
    box-sizing: border-box;
    min-width: 0px;
    align-self: stretch;
    display: flex;
    margin: 0px;
    border-radius: 10px;
    overflow: hidden;
}
.post-cover {
    margin-top: 10px;
    border-radius: 4px;
    margin-bottom: 12px;
}
.post-cover-inner {
    box-sizing: border-box;
    min-width: 0px;
    width: fit-content;
    align-self: flex-start;
    display: flex;
    margin: 0px;
    border-radius: 10px;
    overflow: hidden;
}
.post-cover-inner-more {
    box-sizing: border-box;
    min-width: 0px;
    display: grid;
    width: 100%;
    height: 100%;
    justify-items: stretch;
    margin: 0px;
    border-radius: 24px;
    gap: 4px;
    grid-auto-rows: minmax(120px, 200px);
}

.post-cover-inner-auto-rows-2 {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(120px, 200px);
}
.post-cover-inner-auto-rows-3 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(120px, 200px);
}
.post-cover-inner-auto-rows-4 {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(120px, 160px);
}
.post-cover-inner-auto-rows-5,.post-cover-inner-auto-rows-6 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(120px, 160px);
}
.post-cover-inner-auto-rows-7,.post-cover-inner-auto-rows-8,.post-cover-inner-auto-rows-9 {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(120px, 120px);
}
.post-content-inner {
    margin-top: 8px;
}
.post-content-inner-link {
    box-sizing: border-box;
    min-width: 0px;
    flex-direction: column;
    font-size: 15px;
    color: rgb(64, 64, 64);
    padding-top: 8px;
    display: flex;
    word-break: break-word;
    margin-bottom: 12px;
}
.link-container{
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    color: rgb(64, 64, 64);
    background-color: rgb(242, 245, 248);
    cursor: pointer;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 324px;
    border-radius: 4px;
    padding: 12px;
    transition: all 0.2s ease 0s;
    margin: unset;
}
.link-container:hover{
    background-color: rgb(233, 238, 242);
}
.link-banner {
    box-sizing: border-box;
    min-width: 0px;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin: 0px;
}
.link-banner img{
    width: 48px;
    height: 48px;
    min-width: 0px;
    max-width: 100%;
    margin: 0px 8px 0px 0px;
}
.link-text {
    font-size: 14px;
    line-height: 1.5;
    text-overflow: ellipsis;
    word-break: keep-all;
    white-space: nowrap;
    flex: 1 1 0%;
    overflow: hidden;
    box-sizing: border-box;
    min-width: 0px;
    margin: 0px;
}
.post-cover-inner-link {
    box-sizing: border-box;
    min-width: 0px;
    cursor: pointer;
    color: unset;
    margin: 0px;
    text-decoration: none;
}
.post-cover-img {
    max-height: 320px;
    object-fit: cover;
    transition: all 0.2s ease 0s;
    opacity: 0.8;
    cursor: pointer;
    box-sizing: border-box;
    min-width: 0px;
    max-width: 100%;
    height: auto;
    margin: 0px;
}

.post-cover-img-more {
    box-sizing: border-box;
    max-height: 320px;
    width: 100%;
    height: 100%;
    background-size: cover;
    margin: 0px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all 0.2s ease 0s;
}

.post-cover-img:hover{
    opacity: 0.7;
    cursor: pointer;
}
.post-cover-img-more:hover{
    opacity: 0.8;
    cursor: pointer;
}
.button {
    display: inline-block;
    padding: 0 16px;
    font-size: 14px;
    line-height: 32px;
    color: #8590a6;
    text-align: center;
    background: none;
    border: 1px solid;
    border-radius: 3px;
    outline: none!important;
}
.post-action:hover {
    color: rgb(37, 120, 196);
}
.post-icon {
    margin-right: 4px;
}
.post-plain, .post-datetime, .post-action {
    height: auto;
    padding: 0;
    line-height: inherit;
    background-color: transparent;
    border: none;
    border-radius: 0;
}
.post-plain a {
    margin-left: 4px;
    color: #175199;
}
.post-plain a:hover {
    color: grey;
}
.btn-like:disabled {
    color: crimson;
}
.topic-container {
    box-sizing: border-box;
    min-width: 0px;
    color: rgb(3, 169, 245);
    cursor: pointer;
    background-color: rgb(242, 245, 248);
    font-size: 14px;
    margin: 0px 0px 12px;
    text-decoration: none;
    border-radius: 999px;
    padding: 4px 12px 4px 4px;
    width: fit-content;
}
.topic-container a {
    color: rgb(3, 169, 245);
}
.topic-container:hover {
    box-shadow: 0px 0px 2px;
    text-decoration: none;
}
.container-svg {
    margin-right: 6px;
}
/**
footer
 */
.mycicle {
    margin-bottom: 12px;
    box-sizing: border-box;
    min-width: 0px;
    border-radius: 12px;
    padding-bottom: 24px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
    display: flex;
}
.mycicle-title {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding: 12px 16px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
}
.iwNods {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding: 16px 16px 0px;
    display: flex;
}
.daMYau {
    font-size: 14px;
    line-height: 20px;
    color: rgb(64, 64, 64);
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    line-height: 20px;
    word-break: break-all;
}

.mycicle-title h2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-family: heading;
    color: rgb(64, 64, 64);
    font-size: 16px;
    line-height: 1.5;
    font-weight: normal;
}
.mycicle-content {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: column;
    display: flex;
}
.mycicle-content .circle-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.mycicle-content .circle-item {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding: 12px 16px 8px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    display: flex;
    transition: background-color 0.15s ease 0s;
}
.mycicle-content .circle-item:hover {
    background-color: rgb(248, 250, 251);
}
.mycicle-content .circle-item .circle-item-link {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(64, 64, 64);
    display: flex;
    cursor: pointer;
}
.mycicle-content .circle-item .circle-item-link img{
    border-radius: 8px;
    box-sizing: border-box;
    margin: 0px 12px 0px 0px;
    min-width: 0px;
    max-width: 100%;
    width: 40px;
    height: 40px;
    border-style: none;
}
.mycicle-content.circle-item-link-right {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: column;
    font-size: 14px;
    flex: 1 1 0%;
    display: flex;
}
.mycicle-content .circle-item-link-title {
    line-height: 20px;
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
}
.mycicle-content .circle-item-link-info {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(153, 153, 153);
}
.footer-item {
    color: #8590a6;
}
.random-post {
    margin-bottom: 12px;
    box-sizing: border-box;
    min-width: 0px;
    border-radius: 12px;
    padding-bottom: 24px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    width: 100%;
}
.random-post > .title {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding: 12px 16px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 16px;
}
.archive-posts {
    padding: 20px 20px 0;
    margin-top: -6px;
    margin-bottom: 0;
}
.archive-post {
    width: 100%;
    height: 28px;
    line-height: 28px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.archive-post > a {
    color: #000;
}
.archive-post > a:hover {
    color: rgb(37, 120, 196);
}
.user-container {
    margin-bottom: 10px;
    border-radius: 12px;
    background-color: rgb(255, 255, 255);
    padding: 0px 0px 24px;
}
.user-info {
    height: 128px;
    background-position: 50% 50%;
    background-size: cover;
    overflow: hidden;
    position: relative;
    filter: blur(3px);
    border-radius: 12px 12px 0 0;
}


.info .pic {
    border-radius: 50%;
    width: 4rem;
}
.info p{
    font-size: 14px;
    color: #fff;
    font-weight: 700;
}
.user-detail {
    z-index: 1;
    box-sizing: border-box;
    min-width: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 40px;
    flex-direction: column;
    display: flex;
    position: relative;
    margin: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 0 0 12px 12px;
}
.user-detail.user-detail-padding {
    padding-bottom: 20px;
}
.user-detail .info {
    box-sizing: border-box;
    min-width: 0px;
    flex-shrink: 0;
    width: 64px;
    height: 64px;
    display: flex;
    position: absolute;
    top: -32px;
    margin: 0px;
    border-radius: 999px;
    overflow: hidden;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
}
.user-detail .info img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    margin: 0px;
    color: rgb(3, 169, 245);
    cursor: pointer;
    object-fit: cover;
}
.user-detail ul li {
    width: calc(100% / 3);
    list-style: none;
    text-align: center;
}
.user-detail .user-info-name {
    box-sizing: border-box;
    min-width: 0px;
    color: rgb(64, 64, 64);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 700;
    padding-bottom: 4px;
    margin: 0px;
}
.user-detail .user-info-name a{
    box-sizing: border-box;
    min-width: 0px;
    cursor: pointer;
    color: inherit;
    margin: 0px;
    text-decoration: none;
}
.user-detail .user-info-fans {
    box-sizing: border-box;
    min-width: 0px;
    flex-direction: row;
    padding-bottom: 8px;
    display: flex;
    margin: 0px;
}
.user-detail .user-info-fans a{
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 20px;
    text-decoration: none;
    box-sizing: border-box;
    min-width: 0px;
    cursor: pointer;
    font-size: 14px;
    color: rgb(115, 115, 115);
    margin: 0px;
}
.user-detail .user-info-fans a:nth-child(1):after{
    content: "";
    height: 16px;
    width: 2px;
    background-color: rgb(153, 153, 153);
    margin: 0px 8px;
}
.user-detail .user-info-fans a span{
    font-weight: 500;
    padding-right: 4px;
    cursor: pointer;
    font-size: 14px;
}
.user-detail .user-info-introduction {
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    margin: 0px;
    color: rgb(115, 115, 115);
    font-size: 13px;
    line-height: 1.5;
}
.user-detail .user-info-introduction span {
    color: rgb(115, 115, 115);
    font-size: 13px;
    line-height: 1.5;
}
.recent-avatar {
    border-radius: 50%;
}
.recent-box {
    padding: 5px 15px 0 15px;
    border-radius: 12px;
    margin-bottom: 12px;
}
.recent-box ul {
    margin-bottom: 0;
}
.recent-box .title {
    font-size: 16px;
    padding: 10px 0;
    border-bottom: 1px solid #e6ecf0;
}
.recent-box .content {
    font-size: 14px;
    color: #000;
}
.recent-box .content:hover {
    color: #0056b3;
}
/**
achieve
 */
.vxeHw {
    margin: 0px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    flex-direction: column;
    padding: 0px 0px 24px;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    overflow: hidden;
    position: relative;
}

.kojXeB {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
    position: absolute;
    inset: 0px;
    filter: blur(3px);
}
.biCwrr {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 96px;
    display: flex;
    z-index: 1;
}
.ivcfJN {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.iNTHKr {
    position: absolute;
    inset: 0px;
    background: linear-gradient(rgba(32, 32, 32, 0) 14%, rgba(32, 32, 32, 0.56) 100%);
}
.fUlriR {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: column;
    display: flex;
}
.kLKIKx {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-top: 60px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}
.jnzuaU {
    box-sizing: border-box;
    margin: 0px 0px 8px;
    min-width: 0px;
    border-radius: 999px;
    overflow: hidden;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    display: flex;
}
.dDtTVx {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-family: heading;
    font-weight: 700;
    padding-bottom: 8px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    line-height: 32px;
}
.dZfkqf {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: row;
    padding-bottom: 8px;
    display: flex;
}
.iiMLXg {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-bottom: 12px;
    display: flex;
}
.cXyaML {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
}
.irFFsx {
    box-sizing: border-box;
    margin: 0px;
    height: auto;
    width: 100%;
}
.ffrrSB {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    line-height: 20px;
}
.ffrrSB::after {
    margin: 0px 8px;
    content: "";
    height: 16px;
    width: 2px;
    background-color: rgb(153, 153, 153);
}
.OAorY {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    color: rgb(255, 255, 255);
}
.OAorY:hover {
    color: rgb(255, 255, 255);

}
.kkFELj {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.5;
}

.fXkMMP {
    border-radius: 999px;
    height: 20px;
    padding: 4px 10px;
    color: rgb(255, 255, 255);
    font-size: 12px;
    line-height: 12px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    word-break: keep-all;
    white-space: nowrap;
}
.bHdldX {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    background-color: rgba(3, 169, 245, 0.6);
}
.hXeItE {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    background-color: rgba(191, 191, 191, 0.6);
}
.hzfjJS {
    box-sizing: border-box;
    margin: 0px 4px 0px 0px;
    min-width: 0px;
    max-width: 100%;
    width: 16px;
    height: 16px;
}
.cXyaML > * {
    margin-right: 8px;
}
.achieve-container {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: column;
    display: flex;
}
.achieve-container .achieve-header {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    flex-direction: column;
    padding: 0px 0px 24px;
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    overflow: hidden;
}

.header-top-img {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.header-top-img .header-top-img-inner {
    position: absolute;
    inset: 0px;
    background: linear-gradient(rgba(32, 32, 32, 0) 14%, rgba(32, 32, 32, 0.56) 100%);
    backdrop-filter: blur(20px);
}
@media screen and (min-width: 720px){
    .achieve-container .achieve-header .achieve-header-top {
        height: 160px;
    }
}
@media screen and (min-width: 600px){
    .achieve-container .achieve-header .achieve-header-top {
        height: 120px;
    }
}
.header-top-bottom{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-left: 32px;
    padding-right: 48px;
    padding-top: 8px;
    flex-direction: row;
    display: flex;
    position: relative;
}
@media screen and (min-width: 600px){
    .header-top-bottom {
        padding-left: 48px;
        padding-top: 12px;
    }
}

@media screen and (min-width: 720px){
    .header-top-bottom {
        padding-left: 64px;
        padding-top: 18px;
    }
}
.header-top-bottom-avatar {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-shrink: 0;
    top: -20px;
    width: 72px;
    height: 72px;
    display: flex;
    border: 4px solid rgb(255, 255, 255);
    position: absolute;
    border-radius: 16px;
    overflow: hidden;
}
@media screen and (min-width: 720px){
    .header-top-bottom-avatar {
        width: 120px;
        height: 120px;
    }
}

@media screen and (min-width: 600px){
    .header-top-bottom-avatar {
        width: 96px;
        height: 96px;
    }
}

@media screen and (min-width: 600px){
    .header-top-bottom-avatar {
        top: -40px;
    }
}
.header-top-bottom-avatar img{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    max-width: 100%;
    height: auto;
    border-style: none;
}
.header-top-bottom-text {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    padding-left: 80px;
    display: flex;
}
@media screen and (min-width: 720px){
    .header-top-bottom-text {
        padding-left: 138px;
    }
}

@media screen and (min-width: 600px){
    .header-top-bottom-text {
        padding-left: 112px;
    }
}
.header-top-bottom-text .htbt-left {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: column;
    display: flex;
}
.header-top-bottom-text .htbt-left h2 {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-family: heading;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    color: rgb(64, 64, 64);
}


.htbt-left .htbt-intr {
    box-sizing: border-box;
    margin: 0px;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: auto;
    min-width: unset;
    display: flex;
}
.header-top-bottom-text .htbt-right {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
}
.htbt-left .htbt-intr-text {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 12px;
    line-height: 18px;
    color: rgb(115, 115, 115);
}
.htbt-right {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: flex;
}
.htbt-right button {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    appearance: none;
    display: inline-block;
    text-align: center;
    line-height: inherit;
    text-decoration: none;
    color: rgb(3, 169, 245);
    background-color: transparent;
    border: 1px solid rgb(3, 169, 245);
    border-radius: 999px;
    cursor: pointer;
    padding: 8px 24px;
    word-break: keep-all;
    flex-shrink: 0;
    font-size: 14px;
}
.achieve-container .achieve-content {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-top: 16px;
    display: flex;
}
.achieve-content .text-md-left {
    padding-right: 0;
}
.achieve-content .outer {
    box-sizing: border-box;
    margin: 0px;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}
.react-tabs {
    -webkit-tap-highlight-color: transparent;
}
.react-tabs__tab-list {
    margin: 0px 0px 8px;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    padding: 0px 64px;
    background-color: rgb(255, 255, 255);
}
.react-tabs__tab--selected {
    box-shadow: rgb(255, 228, 17) 0px -4px 0px inset;
    font-weight: 600;
    color: rgb(64, 64, 64);
    cursor: default;
}
.react-tabs__tab {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    transition: all 0.15s ease-in-out 0s;
    cursor: pointer;
    user-select: none;
    padding: 12px;
    color: rgb(115, 115, 115);
}
.react-tabs__tab:not(:first-child) {
    margin-left: 32px;
}
.achieve-content .item-container {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    flex-direction: column;
    display: flex;
}
.react-tabs__tab-panel {
    display: none;
}

.react-tabs__tab-panel--selected {
    display: block;
}

.achieve-content .item-container .item-inner {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-bottom: 12px;
    flex-direction: column;
    display: flex;
}



@media screen and (min-width: 720px){
    .header-top-bottom-text .htbt-left h2{
        font-size: 24px;
        line-height: 32px;
    }
    .htbt-left .htbt-intr-text {
        font-size: 15px;
        line-height: 24px;
    }
    .htbt-right button {
        font-size: 15px;
    }
}
@media screen and (min-width: 600px){
    .header-top-bottom-text .htbt-left h2{
        font-size: 16px;
        line-height: 24px;
    }
    .htbt-left .htbt-intr{
        width: 400px;
        min-width: 400px;
    }
    .htbt-left .htbt-intr-text {
        font-size: 14px;
        line-height: 20px;
    }
    .htbt-right button {
        font-size: 14px;
    }
}
/**
分页
 */
.page-pagination {
    margin-top: 10px;
}
.page-link {
    border-radius: 50% !important;
    margin: 5px;
    height: 36px;
    width: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/**
滚动条
 */
/* 滚动槽 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track {
    border-radius: 3px;
    background: rgba(0,0,0,0.06);
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.08);
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background: linear-gradient(to right, #0acffe 0%, #495aff 100%);
    -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.2);
}
/**
暗黑模式
 */
.theme-dark header {
    background: rgba(52,50,50,0.7);
    backdrop-filter: blur(20px);
    border: none;
}
.theme-dark {
    background: #121212;
}
.theme-dark .site-name {
    color: rgba(255,255,255,0.87);
}
.theme-dark .site-name:hover {
    color: #0056b3;
}
.theme-dark .search-area {
    color: rgba(255,255,255,1);
}
.theme-dark .mobile-nav button {
    color: rgba(255,255,255,1);
}
.theme-dark .random-post {
    background: rgba(52,50,50,0.7);
}
.theme-dark  .random-post > .title {
    color: rgba(255,255,255,0.87);
    border: none;
}
.theme-dark  .archive-posts {
    border: none;
}
.theme-dark .archive-post > a {
    color: rgba(255,255,255,0.87);
}
.theme-dark .archive-post > a:hover {
    color: #0056b3;
}
.theme-dark article {
    background: rgba(52,50,50,0.7);
    border: none;
}
.theme-dark .list article {
    margin-bottom: 5px;
}
.theme-dark .post-title {
    color: rgba(255,255,255,0.87);
}
.theme-dark .post-title:hover {
    color: #0056b3;
}
.theme-dark .post-author a {
    color: #fff;
}
.theme-dark .post-content-inner {
    color: rgba(255,255,255,0.6);
}
.theme-dark .post-plain a {
    color: rgba(255,255,255,0.38);
}
.theme-dark .nav-menu {
    background: rgba(52,50,50,0.7);
    margin-bottom: 2px;
    padding: 5px;
}
.theme-dark .nav-link {
    color: rgba(255,255,255,0.87);
}
.theme-dark .page-item.active .page-link {
    background-color: rgba(0,0,0,0.6);
}
.theme-dark .page-link {
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.6);
}
.theme-dark footer {
    color: rgba(255,255,255,0.87);
}
.theme-dark .OwO .OwO-logo {
    color: rgba(255,255,255,0.6);
}
.theme-dark .OwO .OwO-logo {
    background: rgba(52,50,50,0.7);
}
.theme-dark .OwO:hover .OwO-logo {
    color: rgba(255,255,255,0.6);
}
.theme-dark .user-container, .theme-dark .recent-box {
    background: rgba(52,50,50,0.7);
}
.theme-dark .detail-num, .theme-dark .recent-box .title {
    color: rgba(255,255,255,0.87);
}
.theme-dark .recent-box .content, .theme-dark .recent-box h6 {
    color: rgba(255,255,255,0.6);
}